# project/frontend/nginx.config
server {
    listen       ${PORT:-80};
    server_name  _;

    root /usr/share/nginx/html;
    index index.html;

    #location / {
    #    try_files $uri $uri/ @proxy_to_app;
    #}
#
    #location @proxy_to_app {
    #    rewrite ^(.+)$ /index.html last;
    #}

    location ~ ^/admin {
        proxy_pass http://backend:8000;
	    # proxy_pass to django backend
    }
    location ~ ^/summernote {
        proxy_pass http://backend:8000;
	    # proxy_pass to django backend
    }
    location ~ ^/api {
        proxy_pass http://backend:8000;
	    # proxy_pass to django backend
    }
    
    location /static_root/ {
        alias /static_root/;
    }

    location /media/ {
	    alias /media/;
    }

    location / {
        index index.html;
        try_files $$uri /index.html;
    }
    
        
}
